language: node_js

env:
  global:
    - CC_TEST_REPORTER_ID=787a2f89b15c637323c7340d65ec17e898ac44480706b4b4122ea040c2a88f1d

matrix:
  allow_failures:
    - node_js: 10

node_js:
  - 8
  - 10

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter -d before-build

script:
  yarn test-ci

after_script:
  - ./cc-test-reporter after-build -d --exit-code $TRAVIS_TEST_RESULT
